<div class="editor-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-xs-12">
  
          <list-errors errors="$ctrl.errors"></list-errors>
  
          <form>
            <fieldset ng-disabled="$ctrl.isSubmitting">
  
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  ng-model="$ctrl.newevent.name"
                  type="text"
                  placeholder="Event Name" />
              </fieldset>
  
              <fieldset class="form-group">
                <select name="deportes" ng-model="$ctrl.newevent.deporte">
                  <option value="">Select the type of sport</option> 
                  <option value="Futbol">Futbol</option> 
                  <option value="Tenis">Tenis</option>
                  <option value="Padel">Padel</option> 
                  <option value="Basquet">Basquet</option> 
               </select>
              </fieldset>

              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  ng-model="$ctrl.newevent.place"
                  type="text"
                  placeholder="Place of the Event" />
              </fieldset>

              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  ng-model="$ctrl.newevent.latitud"
                  type="text"
                  placeholder="Latitude" />
              </fieldset>

              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  ng-model="$ctrl.newevent.longitud"
                  type="text"
                  placeholder="Longitude" />
              </fieldset>

              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  ng-model="$ctrl.newevent.fecha"
                  type="text"
                  placeholder="Date of the Event " />
              </fieldset>

              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  ng-model="$ctrl.newevent.hour"
                  type="text"
                  placeholder="Hour start" />
              </fieldset>

              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  ng-model="$ctrl.newevent.limit"
                  type="text"
                  placeholder="People limit" />
              </fieldset>

              <fieldset class="form-group">
                <textarea class="form-control"
                  rows="8"
                  ng-model="$ctrl.newevent.desc"
                  placeholder="Write the description of the Event">
                </textarea>
              </fieldset>
  
              <button class="btn btn-lg pull-xs-right btn-primary" type="button" ng-click="$ctrl.submit()">
                Publish New Event
              </button>
  
            </fieldset>
          </form>
  
        </div>
      </div>
    </div>
  </div>
  