<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeqTen9KlvtvGNuSj3Kz06RK7Gj4WZsAU"></script> -->
<section id="main" class="wrapper">
  <div class="container">
    
    <div id="EventsSearcher" class="EventsSearcher">
      <h2>Events of JoinUp {{type}}</h2>
      <label>Search events : </label>
      <input type="text" class="filtre" ng-model="$ctrl.filtro" style="vertical-align: middle;" ng-change="getMarkers()"
      ng-model-options='{ debounce: 200 }'>&nbsp;
      <button ng-click="ShowHideMap()" id="btnShowMap" class="btn btn-danger" name="btnShowMap"
      style="vertical-align: middle;">{{$ctrl.msgshowmap}}</button>
    </div>

    <hr>
    
    <div class="eventsList" id="eventsListDiv">
      <section>
        <table>
          <tr>
            <td>
              <!-- LOADDER -->
              <div ng-show="!$ctrl.eventsLoaded" id="preloader_1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div ng-show="!$ctrl.eventsLoaded"> <br> <br> Loading events...</div>
            
              <div infinite-scroll="myPagingFunction()" infinite-scroll-distance='0' infinite-scroll-immediate-check='false'>

                <div ng-click="openDetails()"  ng-class='{EventListItem : event.stock != 0, EventListItemExhausted: event.stock == 0}' 
                class="EventListItem" id="eventItem" ng-repeat="event in $ctrl.Events | filter: $ctrl.filtro"
                id="{{event._id}}" ng-mouseover="showDetailsOnHover()" ng-mouseleave="hideDetailsOnMap()"> <!-- Sin paginacion-->
                    <div max-width: "100%" >
                      <img src="{{event.img}}" height="220" width="320"/>
                    </div>
                    <div style="padding: 2px 5px;">
                    <div class="name" style="margin-top:5px;"><h3>{{event.name}}</h3></div>
                    <div class="type"><i>{{event.deporte}}</i></div>
                    <div class="place">{{event.fecha}}</div>
                    <div data-ng-if="event.stock != 0" class="stock"> <strong> Inscritos: {{event.inscritos.length}}  </strong></div>
                    <div data-ng-if="event.stock != 0" class="stock"> <strong> limite: {{event.limit}}  </strong></div>
                    <div ng-show="completar" class="stocke"><strong> !!!!Completo!!!! </strong> </div>
                    <br>
                    <br>
                  </div>
                </div>

              </div>
           
            <td>    
              <div id="divMap" map-lazy-load="https://maps.google.com/maps/api/js">
                  <ng-map center="[{{$ctrl.lat}}, {{$ctrl.lng}}]" 
                  zoom="6" default-style="false"
                  class="mapEvents" id="mapEvents">
                  <marker
                  no-watcher="true"
                  ng-repeat="p in $ctrl.positions"
                  id="{{p.id}}"
                  title="{{p.name}}"
                  position="{{p.pos}}"
                  on-click="openDetailsmarker(p)"
                  animation="DROP">
                  </marker>

                  <info-window id="myInfoWindow">
                    <div class="infoWindowDiv" ng-non-bindable="true" ng-click="openDetailsclickinfomarkers()">
                
                      <img src="{{$ctrl.eventItem.imagen}}" width="200px" heigth="100px" align="center"/>
                      <br>
                      <br>
                      <h5 id="eventsText">{{$ctrl.eventItem.name}}</h5>
                      <br>
                      <h6 id="eventsText"> <img src="images\lugar.png ">&nbsp;{{$ctrl.eventItem.place}}</h6>
                      <br>
                      <h6 id="eventsText"><img src="images\calendario.png ">&nbsp;{{$ctrl.eventItem.fecha}}</h6>
                      <br>
                      <h6 id="eventsText"><img src="images\reloj-de-arena.png">&nbsp;{{$ctrl.eventItem.hour}}</h6>
                    </div>
                  </info-window>

                </ng-map>
              </div>
            </td>
          </tr>
        </table>
      </section>
    </div>
  </div>
</section>
<p hidden id="foter"></p>