<div class="profile-page">

  <!-- User's basic info & action buttons -->
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">

          <img ng-src="{{::$ctrl.profile.image}}" class="user-img" />
          <h4 ng-bind="::$ctrl.profile.username"></h4>
          <p ng-bind="::$ctrl.profile.bio"></p>

          <a ui-sref="app.settings"
            class="btn btn-sm btn-outline-secondary action-btn"
            ng-show="$ctrl.isUser">
            <i class="ion-gear-a"></i> Edit Profile Settings
          </a>
         
          </body>
         
          <follow-btn user="$ctrl.profile" ng-hide="$ctrl.isUser"></follow-btn>

        </div>
      </div>
    </div>
  </div>

  <!-- Container where User's posts & favs are list w/ toggle tabs -->
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">

        <!-- Tabs for switching between author articles & favorites -->
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">

            <li class="nav-item">
              <a class="nav-link" ng-click="changeTo('myevents')"
                  ng-class="{'active': 'myevents' == states.activeItem}">
                My Events
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" ng-click="changeTo('follow')"
                  ng-class="{'active': 'follow' == states.activeItem}">
                Following Events
              </a>
            </li>

          </ul>
        </div>

        <!-- List of events -->
        <div ng-show="events" class="eventprofile" ng-repeat="event in $ctrl.events">
          <br>
          <div ng-click="openDetailsprof()">
            <img class="profevimg" src="{{event.img}}" height="10%" width="10%">
            <p>El evento {{event.name}} en {{event.place}} el dia {{event.fecha}}</p>
          </div>
          <button ng-show="btnmevnt" class="buttproevent" ng-click="remove(event)">Eliminar</button>
          <button ng-show="btnfollow" class="buttproevent" ng-click="unfollow(event)">Unfollow</button>
        </div><br>
        <p ng-show="noevents">No hay eventos</p>

      </div>

    <!-- End row & container divs -->
    </div>
  </div>

</div>
