<nav class="navbar navbar-light">
  <div class="container">

    <div>
      <a class="navbar-brand"
        ui-sref="app.home"><img src="images/logo_v.1.2.png" style="width: 55px;" />
      </a>
      <a class="navbar-brand"
      ui-sref="app.home"
      ng-bind="::$ctrl.appName">
      </a>
    </div>

    <!-- Show this for logged out users -->
    <ul show-authed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.contact">
          Contact
        </a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.events">
          Events
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.login">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.register">
          Sign up
        </a>
      </li>
      
      <li class="nav-item">
           <a class="nav-link"  href="http://127.0.0.1:8080/api/auth/github/"><i class="fa fa-github"></i></a> 
     </li>
   <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8080/api/auth/googleplus"><i class="fa fa-google"></i></a>
           </li>

          </fieldset>
    </ul>

    <!-- Show this for logged in users -->
    <ul show-authed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.contact">
          Contact
        </a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.events">
          Events
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.newevents">
          <i class="ion-compose"></i>&nbsp;New Event
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.settings">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.profile({ username: $ctrl.currentUser.username})">
          <img ng-src="{{$ctrl.currentUser.image}}" class="user-pic" />
          {{ $ctrl.currentUser.username }}
        </a>
      </li>

    </ul>


  </div>
</nav>
