<div class="home-page">

  <!-- Splash banner that only shows when not logged in -->
  <div class="banner" show-authed="false">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl.appName"></h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">

    <div class="eventsList" id="eventsListDiv">
       


      <section show-authed="true">
        <table>
          <tr>
            <td>
             <div class="text-warning" ng-show="followevents" align="center"><h1>Prepara tus Suscripciones!!</h1></div>
              <div id="endHome" ng-repeat='followevents in profile.followevents'>
              <a href="#!/event/{{followevents._id}}">
              <div><h3>{{followevents.name}}</h3></div>
              <img id="end" src="{{followevents.img}}"; ></a>
            </div>
              </div>
              <br> 
            </td>
          </tr>
        </table>
      </section>
    </div>
  </div>
  <br>
  <br>
      <!-- LOADDER -->
        <section show-authed="false">
          <table>
            <tr>
              <td>
                <div class="text-warning" id="homeProximosEventsText"><h1>Proximos eventos!</h1></div> 
                <div id="endHome" ng-repeat='endevent in $ctrl.endevent'>
                <a href="#!/event/{{endevent._id}}">
                  <div>
                    <h3>{{endevent.name}}</h3>
                  </div>
                  <img id="end" src="{{endevent.img}}"; >
                  <div class="text-danger">
                    <h3>{{endevent.fecha}}
                      <img src="images\calendario.png">
                    </h3>
                  </div>
                </a>
                </div>
                <br> 
              </td>
            </tr>
          </table>
        </section>
      </div>
    </div>
    <br>
    <br>

    <div id="separador" show-authed="false"></div>

    <div class="eventsList" id="eventsListDiv">

      <!-- LOADDER -->
      <div ng-show="!$ctrl.deportesLoaded" id="preloader_1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div ng-show="!$ctrl.deportesLoaded"> <br> <br> Loading events...</div>
      <div id="deportesItem"  > <!-- Sin paginacion-->
        <section>
          <table>
            <tr>
              <td>
                <div id="itemsHome" ng-repeat='deporte in $ctrl.deportes'>
                  <a href="#!/events/{{deporte.deporte}}">
                    <img id="imgHome" src="{{deporte.img}}">
                    <div id="deportesHome"><h3>{{deporte.deporte}}</h3></div>
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </section>
      </div>
    </div>

  
    <div class="row">
      <!-- End the row & container divs -->
    </div>
  </div>

</div>
