#end{
    width: auto; 
    height: 200px;
}

#separador{
    height: 1px;
    width: 1000px;
    text-align: center;
    margin: auto;
    background-color: black;
}

#endHome{
    float: left;
    margin-top: 60px;
    margin-left: 60px;
}

#homeProximosEventsText{
    padding-left: 60px;
}

#detailInscritos{
    text-align: left;
    margin-bottom: 90px;
    background: #E7E7E7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#deportesItem{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    height: auto;
    width: auto;
}

#itemsHome{
    float: left;
    display: inline-table;
    margin-top: 60px;
    margin-left: 60px;
}

#imgHome{
    width: auto; 
    height: 300px;
    text-align: center;
}

#deportesHome{
    margin-top: 5px;
    text-align:center;
}

#mapEvents {
    height: 100%;
    width: 100%;
    position :relative;
    transition: transform 1s;
}

.moveupMap {
    -ms-transform: skewy(-190px); /* IE 9 */
    -webkit-transform: skewy(-190px); /* Safari */
    transform: translatey(-190px);
}

.ocultar{
    -ms-transform: skewx(600px); /* IE 9 */
    -webkit-transform: skewx(600px); /* Safari */
    transform: translatex(600px);
}

#divMap{
    height: 400px;
    width: 500px;
    position: fixed;
    vertical-align: middle;
    top: 155px;
    right: 60px;
}

#eventsText{
    text-align:center;
}

#mapDetails{
    margin-top: 40px;
}

#imgDetails{
    height: 100%;
    width: 100%;
}

#detailsEvents{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;
}

#boxofEvents{
    width: 800px;
}

#detailsOfEvent{
    margin-left: -50px;
    text-align: left;
    margin-bottom: 90px;
    
}
#error404{
    text-align: center;
}

#detailTableInscritos{
    position: absolute;
}

#inscritos{
    margin-bottom: 200px;
}

#imgInscritos{
    width: 30px; 
    height: auto;
    padding-left: 5px;
}

#joinup{
    border-radius: 20px;
    border-color: none;
    width: auto;
    color: white;
    background: #5cb85c;
    height: 40px;
    border-style: solid;
}

#joinup:hover{
    background: #6BD56B;
    border-style: solid;
}

#divJoinbutton{
margin-left: 575px;
padding-bottom: 10px;
}

.MoreEvents{
    margin-top: 20px;
}

.MoreEventsItem{
    float: left;
    margin-right: 10px;
    text-align: center;
    text-decoration:none;
    background-color: #f2f2f2;
    padding: 6px;
}

.pmevents {
    margin-bottom: 3px;
    margin-top: 2px;
    background-color: #5cb85c;
    border: none;
    color: white;
    padding: 7px 1px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.pmevents:hover {
    background: #6BD56B;
    border-style: solid;
    text-decoration:none;
}

.profevimg {
    border-radius: 100px;
}

.eventprofile {
    background:#f1f1f1;
    border-radius: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    cursor:pointer;
    margin-bottom: 15px;
}

.buttproevent {
    float: right;
    margin-top: -65px;
    margin-right: 50px;
}

.nav-link {
    cursor:pointer;
}